<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Lessons </title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="lessons.js"></script>
    <link href = "style.css" rel = "stylesheet" type = "text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>

<body>
    <div id="app">
        <header>
            <h1 v-text="sitename"></h1>
            <button
                v-on:click="showCart"
                v-show="cartItemCount">
                {{cartItemCount}}
                <span class="fas fa-cart-plus"></span>
                Cart
            </button>
        </header>
        <main>
            <div v-if="showLesson">
                <p>
                    <input type="radio" id="aprice" value="aprice" v-model="filter.method" v-on:click="sortedAscPrice">
                    <label for="aprice"> Price: Low to High </label>
                    <input type="radio" id="dprice" value="dprice" v-model="filter.method" v-on:click="sortedDescPrice">
                    <label for="dprice"> Price: High to Low </label>
                </p>
                <p>
                    <input type="radio" id="alocation" value="alocation" v-model="filter.method" v-on:click="sortedAscLocation">
                    <label for="alocation"> Location: A to Z </label>
                    <input type="radio" id="dlocation" value="dlocation" v-model="filter.method" v-on:click="sortedDescLocation">
                    <label for="dlocation"> Location: Z to A </label>
                </p>
                <p>
                    <input type="radio" id="asubject" value="asubject" v-model="filter.method" v-on:click="sortedAscSubject">
                    <label for="asubject"> Subject: A to Z </label>
                    <input type="radio" id="dsubject" value="dsubject" v-model="filter.method" v-on:click="sortedDescSubject">
                    <label for="dsubject"> Subject: Z to A </label>
                </p>
                <!--<p>
                    <input type="radio" id="aspaces" value="aspaces" v-model="filter.method" v-on:click="sortedAscSpaces">
                    <label for="aspaces"> Availability: Low to High </label>
                    <input type="radio" id="dspaces" value="dspaces" v-model="filter.method" v-on:click="sortedDescSpaces">
                    <label for="dspaces"> Availability: High to Low </label>
                </p>-->

                <div v-for="lesson in lessons">
                    <figure>
                        <img v-bind:src="lesson.image">
                    </figure>
                    <h2 v-text="lesson.subject"></h2>
                    <p v-text="lesson.location"></p>
                    <p> Price: AED {{lesson.price}} </p>
                    <!--when lesson is added to cart, one space is reduced-->
                    <p> Available Spaces: {{lesson.availableSpaces - cartCount(lesson)}} </p>

                    <button v-on:click="addToCart(lesson)"
                        v-if="canAddToCart(lesson)">
                        Add to Cart
                    </button>
                    <button disabled="disabled" v-else>
                        Add to Cart
                    </button>
                    <span v-if="lesson.availableSpaces === cartCount(lesson)">
                        All lessons booked!
                    </span>
                    <span v-else-if="lesson.availableSpaces - cartCount(lesson) < 5">
                        Only {{lesson.availableSpaces - cartCount(lesson)}} left!
                    </span>
                    <span v-else> Book Lesson! </span>
                </div>
            </div>
            <div v-else>
                <h2> Cart </h2>
                <button v-on:click="showCart"> Go Back </button>
                <div v-for="(lesson, index) in cart">
                    <figure>
                        <img v-bind:src="lesson.image">
                    </figure>
                    <h2 v-text="lesson.subject"></h2>
                    <p v-text="lesson.location"></p>
                    <p> Price: AED {{lesson.price}} </p>
                    <p> Available Spaces: {{lesson.availableSpaces}}</p>
                    <button v-on:click="cart.splice(index, 1)"> Remove </button>
                </div>
    
                <h2> Checkout </h2>
                <p>
                    <strong> Name: </strong>
                    <input v-model="order.name"/>
                </p>
                <p>
                    <strong> Phone Number: </strong>
                    <input v-model.number="order.phone" type="number"/>
                </p>
                <button v-on:click="submitForm">
                Checkout
                </button>
            </div>
        </main>
    </div>

    <script>
        var school = new Vue ({
            el: "#app",
            data:{
                sitename: "Lessons",
                showLesson: true,
                lessons: lessons,
                cart:[],
                filter: {
                    method:""
                },
                order: {
                    name: "",
                    phone: "",
                },
            },
            methods: {
                showCart () {
                    this.showLesson = this.showLesson ? false : true;
                },
                addToCart(lesson) {
                    this.cart.push(lesson);
                },
                canAddToCart(lesson) {
                    return lesson.availableSpaces > this.cartCount(lesson);
                },
                cartCount(id) {
                    let count = 0;
                    for (let i = 0; i < this.cart.length; i++) {
                        if(this.cart[i] === id) {
                            count++;
                        }
                    }
                    return count;
                },
                submitForm() {
                    alert('Order Submitted!')
                },
                sortedAscPrice() {
                    function ascendingPrice(a,b) {
                        if (a.price > b.price)
                            return 1;
                        if (a.price < b.price)
                            return -1;
                        return 0;
                    }
                    this.lessons.sort(ascendingPrice);
                },
                sortedDescPrice() {
                    function descendingPrice(a,b) {
                        if (a.price < b.price)
                            return 1;
                        if (a.price > b.price)
                            return -1;
                        return 0;
                    }
                    this.lessons.sort(descendingPrice);
                },
                sortedAscLocation() {
                    function ascendingLocation(a,b) {
                        if (a.location > b.location)
                            return 1;
                        if (a.location < b.location)
                            return -1;
                        return 0;
                    }
                    this.lessons.sort(ascendingLocation);
                },
                sortedDescLocation() {
                    function descendingLocation(a,b) {
                        if (a.location < b.location)
                            return 1;
                        if (a.location > b.location)
                            return -1;
                        return 0;
                    }
                    this.lessons.sort(descendingLocation);
                },
                sortedAscSubject() {
                    function ascendingSubject(a,b) {
                        if (a.subject > b.subject)
                            return 1;
                        if (a.subject < b.subject)
                            return -1;
                        return 0;
                    }
                    this.lessons.sort(ascendingSubject);
                },
                sortedDescSubject() {
                    function descendingSubject(a,b) {
                        if (a.subject < b.subject)
                            return 1;
                        if (a.subject > b.subject)
                            return -1;
                        return 0;
                    }
                    this.lessons.sort(descendingSubject);
                }
               /* sortedAscSpaces() {
                    function ascendingSpaces(a,b) {
                        if (a.cartCount > b.cartCount)
                            return 1;
                        if (a.cartCount < b.cartCount)
                            return -1;
                        return 0;
                    }
                    this.lessons.sort(ascendingSpaces);
                },
                sortedDescSpaces() {
                    function descendingSpaces(a,b) {
                        if (a.availableSpaces < b.availableSpaces)
                            return 1;
                        if (a.availableSpaces > b.availableSpaces)
                            return -1;
                        return 0;
                    }
                    this.lessons.sort(descendingSpaces);
                }*/
            },
            computed: {
                cartItemCount: function () {
                    return this.cart.length;
                }
            },
        });
    </script>
</body>
</html>